@import "../../config.scss";

.HomePage {
  &__container {
    max-width: $max-width;
    margin: 0 auto;

    .img {
    }
  }

  &__row {
    @include row;
    margin-bottom: $gutter;
    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);

    margin-bottom: $gutter;
  }
}
