$font-main: Lora, "Times New Roman", serif;
$font-heading: "Roboto Mono", "Courier New", monospace;


.heading {
  width: 100%;
  position: fixed;        
  background: #161616;
  padding: 10px 0;
  top: 0
}

.heading__container {
  margin: auto;
  max-width: 80%;
  text-decoration: none;
  align-items: center;
}

.heading__title {
  float:left;
  color: #ECEFF4;
}

.heading__navigation {
  float: right;
}

a{
  font-family: "Roboto Mono";
  border:none;
  outline:none;
  text-decoration:none;
  color: #ECEFF4;
}

.heading__nav_button > button {
  background: #161616;
  font-family: "Roboto Mono";
  border: none;
  outline:none;
  text-decoration:none;
  color: #ECEFF4;
  cursor: pointer;
}
