$font-main: Lora, "Times New Roman", serif;
$font-heading: "Roboto Mono", "Courier New", monospace;

.footer {
  margin: auto;
  max-width: 80%;
  text-decoration: none;
  align-items: center;
}

.left {
  float:left;
}

.right {
  float: right;
}